img {
    height: 200px;
}

p {
    background-color: bisque;
    text-align: justify;
    background-image: url(wallpaper.jpg);
    background-size: 300px;
}

#img1 {
    float: left;
    margin-right: 10px;
}

#img2 {
    float: right;
    margin-left: 10px;
}