body {
    margin: 30px;
}

p>img {
    margin-right: 10px;
    height: 200px;
    float: left;
}

p {
    font-size: 20px;
    text-align: left;
    background-image: url(wallpaper.jpg);
    background-size: 300px;
    overflow: hidden;
}